In [1]:
import pandas as pd

In [2]:
##장애인 지하철역 5개월 이용 내역+ 주소

In [3]:
subway=pd.read_excel('월별_장애인_지하철_이용건수.xlsx')
subway.head()

,Unnamed: 0,역명,2022년1월,2022년2월,2022년3월,2022년4월,2022년5월,도로명주소,행정동
0,0,가락시장,26586,21646,24736,26735,28506,서울특별시 송파구 송파대로 지하257(가락동),가락동
1,1,가산디지털단지,36978,31581,35582,37779,39367,서울특별시 금천구 벚꽃로 309(가산동),가산동
2,2,강남,46780,41861,45674,49322,52314,서울특별시 강남구 강남대로 지하396(역삼동),역삼동
3,3,강남구청,10971,9597,10720,11256,12009,서울특별시 강남구 학동로 지하346(삼성동),삼성동
4,4,강동,25589,22418,25562,27615,30160,서울특별시 강동구 천호대로 지하1097(천호동),천호동

In [4]:
##카카오 api 활용 주소를 통해 좌표 출력

In [5]:
import json
import requests

def to_point(address):
    api_key='c4b8b4ca703530438f9ee053e7777d81'
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query={}'.format(address)
    headers = {"Authorization": "KakaoAK " + api_key}
    result = json.loads(str(requests.get(url, headers=headers).text))
    match_first = (float(result['documents'][0]['y']),float(result['documents'][0]['x'])) #[0]['address_name']
    return match_first

def to_point_json(address):
    api_key='c4b8b4ca703530438f9ee053e7777d81'
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query={}'.format(address)
    headers = {"Authorization": "KakaoAK " + api_key}
    result = json.loads(str(requests.get(url, headers=headers).text))
    #match_first = (float(result['documents'][0]['y']),float(result['documents'][0]['x'])) #[0]['address_name']
    return result

In [6]:
point_lst=[] ##좌표
goo_lst=[] ## 행정구
for j in range(len(subway)):
        df=subway.iloc[j]
        sub_name=df['역명']
        index=df['도로명주소'].find('(')
        address=df['도로명주소'][:index]
        goo=address.split()[1]
        
        goo_lst.append(goo)
        try:
            sub=to_point(address)
            point_lst.append(sub)
        except:
            sub=to_point_json(address)
            point_lst.append(sub)

In [7]:
subway['좌표']=point_lst
subway['행정구']=goo_lst

In [8]:
##지하철 총승하차객수 합산

In [9]:
subway['지하철합계']=subway['2022년1월']+subway['2022년2월']+subway['2022년3월']+subway['2022년4월']+subway['2022년5월']

In [10]:
subway

,Unnamed: 0,역명,2022년1월,2022년2월,2022년3월,2022년4월,2022년5월,도로명주소,행정동,좌표,행정구,지하철합계
0,0,가락시장,26586,21646,24736,26735,28506,서울특별시 송파구 송파대로 지하257(가락동),가락동,"(37.4927440321316, 127.118485741487)",송파구,128209
1,1,가산디지털단지,36978,31581,35582,37779,39367,서울특별시 금천구 벚꽃로 309(가산동),가산동,"(37.4815957375443, 126.882559483336)",금천구,181287
2,2,강남,46780,41861,45674,49322,52314,서울특별시 강남구 강남대로 지하396(역삼동),역삼동,"(37.4981646510326, 127.028307900881)",강남구,235951
3,3,강남구청,10971,9597,10720,11256,12009,서울특별시 강남구 학동로 지하346(삼성동),삼성동,"(37.5171892352971, 127.04130142966)",강남구,54553
4,4,강동,25589,22418,25562,27615,30160,서울특별시 강동구 천호대로 지하1097(천호동),천호동,"(37.5355205088294, 127.133529582127)",강동구,131344
...,...,...,...,...,...,...,...,...,...,...,...,...
230,230,홍제,29653,25614,29209,31539,34150,서울특별시 서대문구 통일로 지하440-1(홍제동),홍제동,"(37.5887103667691, 126.944242309924)",서대문구,150165
231,231,화곡,38980,34498,38250,42614,45703,서울특별시 강서구 화곡로 지하168(화곡동),화곡동,"(37.5414336176977, 126.840496450153)",강서구,200045
232,232,화랑대(서울여대입구),12396,10748,12154,12967,14115,서울특별시 노원구 화랑로 지하510(공릉동),공릉동,"(37.6198943887187, 127.083744624338)",노원구,62380
233,233,회현(남대문시장),30904,26049,31380,35607,40338,서울특별시 중구 퇴계로 지하54(남창동),남창동,"(37.5585353196435, 126.978239147279)",중구,164278
234,234,효창공원앞,8822,7777,9025,9801,10692,서울특별시 용산구 백범로 지하287(효창동),효창동,"(37.5393766399926, 126.961258439813)",용산구,46117

In [11]:
columns=['역명','좌표','행정구','지하철합계']
subway=subway[columns]
subway.head()

        역명                                    좌표  행정구   지하철합계
0     가락시장  (37.4927440321316, 127.118485741487)  송파구  128209
1  가산디지털단지  (37.4815957375443, 126.882559483336)  금천구  181287
2       강남  (37.4981646510326, 127.028307900881)  강남구  235951
3     강남구청   (37.5171892352971, 127.04130142966)  강남구   54553
4       강동  (37.5355205088294, 127.133529582127)  강동구  131344

In [12]:
subway.to_csv('subway.csv')